body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: orange; /* Cor base laranja */
}

#dados {
    margin-top: 20px;
}

#dados div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fafafa;
}

#formulario-criacao, #formulario-edicao {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafafa;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    padding: 8px 12px;
    background-color: orange; /* Cor base laranja */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}
